
<nav class="navbar navbar-default col-md-12 navbar-static-top">
  <div class="navbar-brand">Welcome to the Task Manager</div>
  <ul class='nav navbar-nav navbar-right'>
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Task Index</a></li>
  </ul>
</nav>

<div class="container">
<div class="list-group">
  <a href="/tasks" class="list-group-item">Task Index</a>
  <a href="/tasks/new" class="list-group-item">New Task</a>
</div>
