<nav class="navbar navbar-inverse col-md-12 navbar-static-top">
  <ul class='nav navbar-nav navbar-right'>
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Task Index</a></li>
  </ul>
</nav>
<div class="container">
  <h1 id="greeting">Welcome to the TaskManager!</h1>
<div class="list-group">
  <a href="/tasks" class="list-group-item">Task Index</a>
  <a href="/tasks/new" class="list-group-item">New Task</a>
</div>
