<nav class="navbar navbar-default">
  <div class="navbar-brand">All Tasks</div>
</nav>

<div class="list-group">
<% @tasks.each do |task| %>
  <a href="/tasks/<%= task.id  %>" class="list-group-item"><%= task.id %>: <%= task.title %></a>
<% end %>
</div>
