
<nav class="navbar navbar-default col-md-12 navbar-static-top">
  <div class="navbar-brand"><%= @task.title %></div>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Task Index</a></li>
  </ul>
</nav>
<div class="container">
<div>
  <div class="list-group-item"><%= @task.description %></div>
</div>
