<a class="btn btn-success index-button" href="/tasks">Task Index </a><br />
<nav class="navbar navbar-default">
  <div class="navbar-brand"><%= @task.title %></div>
</nav>


<div class="list-group">
  <div class="list-group-item"><%= @task.description %></div>
</div>
